<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="conString" value="Server=huyhome.ddnsfree.com;Database=ProductDB;User Id=sa;Password=20042001Huy@;MultipleActiveResultSets=true;"/>
  </appSettings>

	<connectionStrings>
		<!-- <add name="MyCONN" connectionString="Data Source=DESKTOP-FDBVHMB\SQLSERVEREXPRESS;Initial Catalog=WEDDINGMANAGEMENT;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/> -->
        <!-- <add name="MyCONN" connectionString="Server=192.168.10.112;Database=ProductDB;User Id=sa;Password=20042001Huy@;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/> -->
	</connectionStrings>

</configuration>
